<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jef e Jeb</title>
  </head>
  <body>
    <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=<%- chapterHash %>" width="100%" height="900" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe>
  </body>
</html>