<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="dark light">

        <link href="content/css/index.css" rel="stylesheet" type="text/css">
        <link href="content/css/fonts.css" rel="stylesheet" type="text/css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="content/css/glide.core.min.css">
        <link rel="stylesheet" href="content/css/glide.theme.min.css">

        <title>Jef e Jeb</title>
    </head>
    <body id="override">
        <header>
            <input id="profilePicture" data-bs-toggle="modal" data-bs-target="#signinModal" type="image" src="content/images/user.png"></input>
        </header>
        <div id="banner-div">
            <img class="cssanimation sequence fadeInBottom banner-img" id="jef-jeb-img" src="content/images/jef_jeb_e_eugenio_pngg.png">
            <img class="banner-img" src="content/images/jef_jeb_e_eugenio_background_png.png">
            <h1 id="titulo-h1">Jef e Jeb</h1>
        </div>
        <div id="content-container">
            <section class="navigation-grid">
                <div>
                    <img class="navigation-img" src="content/images/gustavo.png">
                    <button type="button" class="btn btn-info btn-lg navigation-button disabled"><a class="text-dark text-decoration-none" href="#">AUTOR</a></button>
                </div>
                <div>
                    <img class="navigation-img" src="content/images/gustavo.png">
                    <button type="button" class="btn btn-info btn-lg navigation-button disabled"><a class="text-dark text-decoration-none" href="#">PERSONAGENS</a></button>
                </div>
                <div>
                    <img class="navigation-img" src="content/images/gustavo.png">
                    <button type="button" class="btn btn-info btn-lg navigation-button disabled"><a class="text-dark text-decoration-none" href="#">GALERIA</a></button>
                </div>
            </section>
            <h1 class="topic-header">Capítulos</h1>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <% for (let i = 0; i < chaptersCount;  i++ ) { %>
                            <a class="glide__slide" href=<%-`./capitulo/${i+1}`%>>
                                <img class="rounded" src=<%-`content/images/chapters-covers/Jef&Jeb${i+1}.jpg`%>>
                            </a>
                        <% } %>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="bi bi-caret-left-fill"></i></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="bi bi-caret-right-fill"></i></button>
                </div>
            </div>
        </div>

        <%- include('components/modals/authModals') %>
        
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>

        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyD4u8UUzeeJblrdtt1QxqmQeGDrJEf9d_k",
                authDomain: "jefjeb-dev.firebaseapp.com",
                projectId: "jefjeb-dev",
                storageBucket: "jefjeb-dev.appspot.com",
                messagingSenderId: "606291928201",
                appId: "1:606291928201:web:49d34d56fe8708bcb61258",
                measurementId: "G-LYJ9EP1ZZ6"
            };
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();

            const auth = firebase.auth()
            const db = firebase.firestore()
        </script>

        <script src="content/js/glide.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="content/js/index.js" defer></script>
    </body>
</html>