<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand h1" href="../">Jef e Jeb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Autor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Personagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Galeria</a>
        </li>
      </ul>
      <div class="form-check form-switch dark-mode-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Modo escuro</label>
      </div>
      <input class="d-flex" id="profilePicture" data-bs-toggle="modal" data-bs-target="#signinModal" type="image" src="/content/images/user.png"></input>
    </div>
  </div>
</nav>

<%- include('modals/authModals') %>

<style>
  nav {
    background-color: #31D2F2
  }

  .h1 {
    font-family: 'Alfa Slab One', cursive;
  }

  #profilePicture {
    width: 64px; height: 64px;
    border-radius: 100%;
  }

  .hidden {
    display: none !important;
  }

  .dark-mode-switch {
    margin-right: 1rem;
  }

  .dark-mode {
    background-color: #1D1D1D;
    color: #FFFFFF;
  }

  .form-check-label {
    color: #000000
  }
</style>

<script>
  const DARKMODE_CHECK = document.querySelector('.form-check-input')
  const TEXT_ELEMENTS = document.querySelectorAll('h1, h2, h3, p')

  const PEFFERED_THEME = localStorage.getItem("theme");

  if (PEFFERED_THEME === "dark") {
    document.body.classList.add('dark-mode')
    TEXT_ELEMENTS.forEach(el => el.classList.add('dark-mode'))
    document.querySelector('.form-check-input').checked = true
  }

  DARKMODE_CHECK.addEventListener('change', function (e) {
    if (DARKMODE_CHECK.checked) { 
      document.body.classList.add('dark-mode')
      TEXT_ELEMENTS.forEach(el => el.classList.add('dark-mode'))
      localStorage.setItem("theme", "dark");
    } else {
      document.body.classList.remove('dark-mode')
      TEXT_ELEMENTS.forEach(el => el.classList.remove('dark-mode'))
      localStorage.setItem("theme", "light");
    }
  })

</script>