body { 
  margin: 0;
}

.intro { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 100px 50px 100px;
  gap: 1rem;
}

.feedback {
  text-align: center;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.counter { 
  display: inline-block;
}

#viewButton {
  pointer-events: none;
}

i {
  font-size: 32px;
}

@media (max-width: 1300px) {
  .intro {
    grid-template-columns: 1fr
  }
}

@media (max-width: 600px) {
  .intro { 
    margin: 10px;
  }
}