<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/js/index.js"></script>

    <link href="/css/flickity.css" rel="stylesheet" type="text/css">
    <script src="/js/flickity.js"></script>

    <title>Jef e Jeb</title>
</head>
<body>
    <div id="banner-div">
        <img class="cssanimation sequence fadeInBottom banner-img" id="jef-jeb-img" src="/images/jef_jeb_e_eugenio_pngg.png">
        <img class="banner-img" src="/images/jef_jeb_e_eugenio_background_png.png">
        <h1 id="titulo-h1">Jef e Jeb</h1>
    </div>
    <div id="content-container">
        <section class="navigation-grid">
            <div>
                <img class="navigation-img" src="/images/gustavo.png">
                <button class="navigation-button" href="#">AUTOR</button>
            </div>
            <div>
                <img class="navigation-img" src="/images/gustavo.png">
                <button class="navigation-button" href="#">PERSONAGENS</button>
            </div>
            <div>
                <img class="navigation-img" src="/images/gustavo.png">
                <button class="navigation-button" href="#">GALERIA</button>
            </div>
        </section>
        <h1 class="topic-header">Capítulos</h1>
        <div class="carousel-container js-flickity"  data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false }'>
            <% for (var i =1; i <=10;  i++ ) { %>
                <div class="carousel-cell">
                    <img class="chapter-cover" src="/images/cap9.jpg">
                </div>
            <% } %>
        </div>
        <h1 class="topic-header">Instagram</h1>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-f18a2269-f488-4d7f-9107-e1ca46d99f8f"></div> 
    </div>
</body>
</html>